* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

*::selection {
  background: #f1a59b;
  color: white; }

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  background-color: white;
  font-family: sans-serif;
  align-items: flex-end;
  top: 0%;
  left: 0%;
  grid-area: header; }
  .header nav .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding-left: 5rem;
    line-height: 60px;
    display: none;
    cursor: pointer; }
  .header nav .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    margin-bottom: 10px; }
    .header nav .navbar .navbar-item-link {
      text-decoration: none;
      color: #ff3e20;
      font-size: medium;
      text-transform: uppercase;
      padding: 8px 12px;
      border-radius: 3px; }
      .header nav .navbar .navbar-item-link:hover {
        background-color: #f1a59b;
        color: white; }

footer {
  height: 25rem;
  background-color: #fff2e4;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; }
  footer .suscripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px; }
    footer .suscripcion .texto_suscripcion {
      text-align: center;
      color: #a5a4a4;
      font-weight: bold; }
    footer .suscripcion .dato_suscripcion {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      footer .suscripcion .dato_suscripcion .email_suscripcion {
        width: 50%; }
      footer .suscripcion .dato_suscripcion .btn-primary, footer .suscripcion .dato_suscripcion:visited, footer .suscripcion .dato_suscripcion:focus {
        background-color: #f09082;
        border-color: #f09082; }
        footer .suscripcion .dato_suscripcion .btn-primary:hover, footer .suscripcion .dato_suscripcion:visited:hover, footer .suscripcion .dato_suscripcion:focus:hover {
          background-color: #f09182c4;
          border-color: #f1867a; }
  footer .enlaces {
    display: flex; }
    footer .enlaces .link_footer {
      list-style: none;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 0%;
      padding-right: 10px; }
      footer .enlaces .link_footer .item_link_footer {
        text-decoration: none;
        color: #a5a4a4; }
    footer .enlaces .enlaces_redes {
      width: 50%; }

.contenedor_principal {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 80px auto auto;
  grid-template-areas: "header" "main" "footer"; }
  .contenedor_principal .main {
    grid-area: main; }
    .contenedor_principal .main .articulo_inicio {
      background-color: #ebb6ae;
      display: inline-flex;
      align-items: center;
      justify-content: stretch; }
      .contenedor_principal .main .articulo_inicio .h1_inicio {
        font-family: 'Lora', serif;
        color: #fff2e4;
        text-align: center;
        width: 25%; }
      .contenedor_principal .main .articulo_inicio #carouselExampleControls {
        width: 100%; }
    .contenedor_principal .main .texto_principal_largo {
      margin: 3rem;
      text-align: center;
      animation-duration: 2s;
      animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .contenedor_principal .main .mapa_dubai {
      display: grid;
      justify-content: center;
      width: 100%;
      margin-bottom: 1rem; }
    .contenedor_principal .main .titulo_act {
      background-color: #ebb6ae;
      color: #fff2e4;
      text-align: center; }
    .contenedor_principal .main .imagenes_link {
      display: grid;
      grid-template-areas: "img1 img2 img3 img4 img5 img6";
      grid-gap: 1rem;
      justify-items: center;
      margin: 40px 20px 40px 20px; }
      .contenedor_principal .main .imagenes_link .imagenes {
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }
        .contenedor_principal .main .imagenes_link .imagenes img {
          width: 100%;
          height: 100%;
          transition: all 400ms ease-out; }
        .contenedor_principal .main .imagenes_link .imagenes .capa {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          background-color: #ebb6ae;
          transition: all 400ms ease-out;
          position: absolute;
          top: 0;
          height: 100%;
          visibility: hidden;
          width: 100%;
          opacity: 0; }
          .contenedor_principal .main .imagenes_link .imagenes .capa a {
            text-decoration: none;
            color: #fff2e4;
            text-transform: uppercase; }
        .contenedor_principal .main .imagenes_link .imagenes:hover > .capa {
          opacity: 1;
          visibility: visible;
          text-align: center; }

body {
  font-family: sans-serif; }

.contenedor_historia {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 80px auto auto;
  grid-template-areas: "header" "pag_historia" "footer"; }
  .contenedor_historia .header {
    grid-area: header; }
  .contenedor_historia .pag_historia {
    grid-area: pag_historia;
    font-family: sans-serif;
    color: #666666;
    overflow: hidden;
    background-color: #f0eeeef3; }
    .contenedor_historia .pag_historia .historia_inicio {
      display: flex;
      background-image: url("../../Imagenes/historia.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      width: 100%;
      height: 450px;
      align-content: flex-start;
      justify-content: center;
      align-items: center;
      color: white; }
      .contenedor_historia .pag_historia .historia_inicio .h1_historia {
        font-size: 4rem; }
    .contenedor_historia .pag_historia .intro {
      text-align: center; }
    .contenedor_historia .pag_historia .historia {
      margin: 20px 100px 20px 100px; }
      .contenedor_historia .pag_historia .historia h2 {
        font-style: normal;
        font-weight: 200;
        color: black; }
  .contenedor_historia .footer {
    grid-area: footer; }

.contenedor_cultura {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 80px auto auto;
  grid-template-areas: "header" "pag_cultura" "footer"; }
  .contenedor_cultura .header {
    grid-area: header; }
  .contenedor_cultura .pag_cultura {
    font-family: sans-serif;
    grid-area: pag_cultura; }
    .contenedor_cultura .pag_cultura .h1_cultura {
      background-image: linear-gradient(to bottom, #fb6f62, #fa7d70, #f88b7e, #f5988d, #f1a59b, #f1b0a4, #f1bbad, #f0c5b8, #f4d1c1, #f7dccc, #fbe7d7, #fff2e4);
      width: 100%;
      height: 6rem;
      display: flex;
      align-content: flex-start;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 10px;
      font-size: 4rem; }
    .contenedor_cultura .pag_cultura .cultura_largo {
      color: #666666; }
      .contenedor_cultura .pag_cultura .cultura_largo h2 {
        font-style: normal;
        font-weight: 200;
        color: black; }
      .contenedor_cultura .pag_cultura .cultura_largo .gastro {
        background-color: #f0eeeef3;
        overflow: hidden;
        box-shadow: 0 0 0.675rem 0.075rem rgba(0, 0, 0, 0.2);
        margin: 1.25rem;
        padding: 10px; }
      .contenedor_cultura .pag_cultura .cultura_largo .idioma {
        background-color: #f0eeeef3;
        overflow: hidden;
        box-shadow: 0 0 0.675rem 0.075rem rgba(0, 0, 0, 0.2);
        margin: 1.25rem;
        padding: 10px;
        display: grid;
        grid-template-columns: 35% 65%;
        justify-items: end; }
      .contenedor_cultura .pag_cultura .cultura_largo .religion {
        background-color: #f0eeeef3;
        overflow: hidden;
        box-shadow: 0 0 0.675rem 0.075rem rgba(0, 0, 0, 0.2);
        margin: 1.25rem;
        padding: 10px;
        display: grid;
        grid-template-columns: 50% 50%; }
  .contenedor_cultura .footer {
    grid-area: footer; }

.contenedor_actividades {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 80px auto auto;
  grid-template-areas: "header" "pag_actividades" "footer"; }
  .contenedor_actividades .header {
    grid-area: header; }
  .contenedor_actividades .pag_actividades {
    grid-area: pag_actividades;
    text-align: center;
    color: #666666;
    width: 100%; }
    .contenedor_actividades .pag_actividades h1 {
      display: flex;
      background-image: url(../../Imagenes/actividades.jpg);
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 250px;
      align-content: flex-end;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 4rem; }
    .contenedor_actividades .pag_actividades .seccion_act {
      background-color: #f0eeeef3;
      display: grid;
      overflow: hidden;
      grid-template-areas: "titulo_h2" "safari parques" "palmera mirador" "mezquita rio" "ski"; }
      .contenedor_actividades .pag_actividades .seccion_act h2 {
        color: black;
        font-size: 200;
        margin: 1rem; }
      .contenedor_actividades .pag_actividades .seccion_act .row .card-deck {
        background-color: white;
        box-shadow: 0 0 0.675rem 0.075rem rgba(0, 0, 0, 0.2);
        margin: 2rem; }
        .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari {
          grid-area: safari;
          padding: 20px;
          overflow: hidden; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari {
            text-align: center;
            padding: 20px;
            display: grid;
            gap: 0.5rem;
            justify-items: center; }
            .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari .btn-primary, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari:visited, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari:focus {
              background-color: #f09082;
              border-color: #f09082; }
              .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari .btn-primary:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari:visited:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari:focus:hover {
                background-color: #f09182c4;
                border-color: #f1867a; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .info_safari {
            text-align: justify; }
        .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques {
          grid-area: parques;
          padding: 20px;
          overflow: hidden; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques {
            text-align: center;
            padding: 20px;
            display: grid;
            gap: 0.5rem;
            justify-items: center; }
            .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques .btn-primary, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques:visited, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques:focus {
              background-color: #f09082;
              border-color: #f09082; }
              .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques .btn-primary:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques:visited:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques:focus:hover {
                background-color: #f09182c4;
                border-color: #f1867a; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .info_parques {
            text-align: justify; }
        .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera {
          grid-area: palmera;
          padding: 20px;
          overflow: hidden; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera {
            text-align: center;
            padding: 20px;
            display: grid;
            gap: 0.5rem;
            justify-items: center; }
            .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera .btn-primary, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera:visited, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera:focus {
              background-color: #f09082;
              border-color: #f09082; }
              .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera .btn-primary:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera:visited:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera:focus:hover {
                background-color: #f09182c4;
                border-color: #f1867a; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .info_palmera {
            text-align: justify; }
        .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador {
          grid-area: mirador;
          padding: 20px;
          overflow: hidden; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador {
            text-align: center;
            padding: 20px;
            display: grid;
            gap: 0.5rem;
            justify-items: center; }
            .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador .btn-primary, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador:visited, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador:focus {
              background-color: #f09082;
              border-color: #f09082; }
              .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador .btn-primary:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador:visited:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador:focus:hover {
                background-color: #f09182c4;
                border-color: #f1867a; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .info_mirador {
            text-align: justify; }
        .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita {
          grid-area: mezquita;
          padding: 20px;
          overflow: hidden; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita {
            text-align: center;
            padding: 20px;
            display: grid;
            gap: 0.5rem;
            justify-items: center; }
            .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita .btn-primary, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita:visited, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita:focus {
              background-color: #f09082;
              border-color: #f09082; }
              .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita .btn-primary:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita:visited:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita:focus:hover {
                background-color: #f09182c4;
                border-color: #f1867a; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .info_mezquita {
            text-align: justify; }
        .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio {
          grid-area: rio;
          padding: 20px;
          overflow: hidden; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio {
            text-align: center;
            padding: 20px;
            display: grid;
            gap: 0.5rem;
            justify-items: center; }
            .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio .btn-primary, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio:visited, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio:focus {
              background-color: #f09082;
              border-color: #f09082; }
              .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio .btn-primary:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio:visited:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio:focus:hover {
                background-color: #f09182c4;
                border-color: #f1867a; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .info_rio {
            text-align: justify; }
        .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski {
          grid-area: ski;
          padding: 20px;
          overflow: hidden; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski {
            text-align: center;
            padding: 20px;
            display: grid;
            gap: 0.5rem;
            justify-items: center; }
            .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski .btn-primary, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski:visited, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski:focus {
              background-color: #f09082;
              border-color: #f09082; }
              .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski .btn-primary:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski:visited:hover, .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski:focus:hover {
                background-color: #f09182c4;
                border-color: #f1867a; }
          .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .info_ski {
            text-align: justify; }
  .contenedor_actividades .footer {
    grid-area: footer; }

.contenedor_contacto {
  font-size: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 80px auto auto;
  grid-template-areas: "header" "pag_contacto" "footer"; }
  .contenedor_contacto .header {
    grid-area: header; }
  .contenedor_contacto .pag_contacto {
    grid-area: pag_contacto;
    background-color: #f0eeeef3; }
    .contenedor_contacto .pag_contacto h1 {
      color: black;
      text-align: center; }
    .contenedor_contacto .pag_contacto fieldset div {
      padding: 0.5rem; }
      .contenedor_contacto .pag_contacto fieldset div .btn-primary, .contenedor_contacto .pag_contacto fieldset div:visited, .contenedor_contacto .pag_contacto fieldset div:focus {
        background-color: #f09082;
        border-color: #f09082; }
        .contenedor_contacto .pag_contacto fieldset div .btn-primary:hover, .contenedor_contacto .pag_contacto fieldset div:visited:hover, .contenedor_contacto .pag_contacto fieldset div:focus:hover {
          background-color: #f09182c4;
          border-color: #f1867a; }
  .contenedor_contacto .footer {
    grid-area: footer; }

.contenedor_quienes_somos {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 80px auto auto;
  grid-template-areas: "header" "pag_quienes_somos" "footer"; }
  .contenedor_quienes_somos .header {
    grid-area: header; }
  .contenedor_quienes_somos .pag_quienes_somos {
    grid-area: pag_quienes_somos;
    background-color: #f0eeeef3;
    margin-block-end: 10px;
    padding: 10px 20px 10px 20px;
    text-align: justify; }
    .contenedor_quienes_somos .pag_quienes_somos #quienes_somos {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;
      text-align: justify;
      column-gap: 5px; }
      .contenedor_quienes_somos .pag_quienes_somos #quienes_somos h1 {
        font-weight: 100; }
    .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes h2 {
      font-weight: 20; }
    .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      margin-bottom: 60px; }
      .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias .categoria {
        cursor: pointer;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        background: white;
        font-weight: 700;
        border: 2px solid transparent;
        transition: .3s ease all; }
        .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias .categoria:hover {
          color: #000; }
        .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias .categoria img {
          width: 44px;
          margin-bottom: 10px; }
      .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias .activa {
        border-color: #f1867a; }
    .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .preguntas .contenedor_preguntas {
      display: none;
      grid-template-columns: 1fr;
      gap: 40px; }
      .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta {
        background: #fff;
        padding: 20px;
        border: 2px solid transparent;
        border-radius: 10px;
        overflow: hidden;
        transition: .3s ease all;
        cursor: pointer; }
        .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta:hover {
          border: 5rem; }
        .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta .pregunta {
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
        .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .preguntas .contenedor_preguntas .contenedor_pregunta .respuesta {
          color: #808080;
          line-height: 30px;
          max-height: 0;
          opacity: 0;
          transition: .3s ease all; }
    .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .preguntas .activo {
      display: grid; }
      .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .preguntas .activo .activa .respuesta {
        display: grid;
        opacity: 1;
        margin-top: 20px; }
  .contenedor_quienes_somos .footer {
    grid-area: footer; }

@media only screen and (max-width: 768px) {
  footer .suscripcion {
    margin-top: 2rem;
    padding: 0; }
    footer .suscripcion .dato_suscripcion {
      flex-direction: column;
      margin-bottom: 1rem; }
      footer .suscripcion .dato_suscripcion .email_suscripcion {
        width: 100%; }
      footer .suscripcion .dato_suscripcion .btn-primary, footer .suscripcion .dato_suscripcion:active, footer .suscripcion .dato_suscripcion:visited, footer .suscripcion .dato_suscripcion:focus {
        background-color: #f09082;
        border-color: #f09082; }
        footer .suscripcion .dato_suscripcion .btn-primary:hover, footer .suscripcion .dato_suscripcion:active:hover, footer .suscripcion .dato_suscripcion:visited:hover, footer .suscripcion .dato_suscripcion:focus:hover {
          background-color: #f09182c4;
          border-color: #f1867a; }
    footer .suscripcion .texto_suscripcion {
      font-size: small; }
  footer .enlaces .link_footer {
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
    align-items: flex-start; }
  footer .enlaces .enlaces_redes {
    margin-top: 1rem; }
  .header {
    grid-template-columns: 4fr 1fr; }
    .header nav .nav-toggle {
      display: block; }
      .header nav .nav-toggle:focus:not(:focus-visible) {
        outline: none; }
    .header nav .navbar {
      flex-direction: column;
      align-items: center;
      position: fixed;
      left: 0;
      padding: 20px 0;
      top: 60px;
      width: 100%;
      height: calc(100% -80px);
      overflow-y: auto;
      background-color: #ebb6ae;
      left: 100%;
      transition: left 0.3s; }
    .header nav .navbar_visible {
      left: 0; }
      .header nav .navbar_visible .navbar-item-link {
        color: white;
        line-height: 4rem; }
        .header nav .navbar_visible .navbar-item-link:hover {
          color: #eeb9b0; }
  .contenedor_principal {
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor_principal .main .articulo_inicio {
      display: block; }
      .contenedor_principal .main .articulo_inicio .h1_inicio {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 1rem; }
    .contenedor_principal .main .texto_principal_largo {
      margin: 1rem; }
    .contenedor_principal .main .mapa_dubai {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0; }
      .contenedor_principal .main .mapa_dubai iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute; }
    .contenedor_principal .main .imagenes_link {
      grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
      justify-items: center; }
  .contenedor_historia {
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor_historia .pag_historia .historia {
      margin: 0.5rem; }
  .contenedor_cultura {
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor_cultura .pag_cultura .h1_cultura {
      margin-top: 4rem;
      height: 3rem;
      font-size: 2.5rem; }
    .contenedor_cultura .pag_cultura .cultura_largo .gastro {
      margin: 0.5rem; }
    .contenedor_cultura .pag_cultura .cultura_largo .idioma {
      grid-template-columns: 100%;
      justify-items: start;
      margin: 0.5rem; }
      .contenedor_cultura .pag_cultura .cultura_largo .idioma .expresiones {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;
        height: 0; }
        .contenedor_cultura .pag_cultura .cultura_largo .idioma .expresiones iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute; }
    .contenedor_cultura .pag_cultura .cultura_largo .religion {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      margin: 0.5rem; }
  .contenedor_actividades {
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor_actividades .pag_actividades h1 {
      margin-top: 1rem; }
    .contenedor_actividades .seccion_act {
      grid-template-columns: 100%; }
      .contenedor_actividades .seccion_act .row .card-deck {
        width: 90%;
        margin: 0.5rem; }
  .contenedor_quienes_somos {
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .contenedor_quienes_somos .pag_quienes_somos #quienes_somos {
      margin-top: 3rem;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      overflow: hidden;
      gap: 1rem; }
      .contenedor_quienes_somos .pag_quienes_somos #quienes_somos p {
        width: 80%; }
    .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes {
      overflow: hidden; }
      .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias {
        grid-template-columns: 1fr 1fr; }
        .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias .categoria {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px; }
          .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias .categoria img {
            width: 30px;
            margin-right: 10px;
            margin-bottom: 0; }
          .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias .categoria p {
            margin-bottom: 0; } }

@media only screen and (max-width: 360px) {
  .contenedor_principal .main .imagenes_link {
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    justify-items: center; }
  .contenedor_cultura .pag_cultura .h1_cultura {
    margin-top: 4rem;
    height: 3rem;
    font-size: 2rem; }
  .contenedor_cultura .pag_cultura .cultura_largo .idioma .expresiones {
    width: 100%; }
    .contenedor_cultura .pag_cultura .cultura_largo .idioma .expresiones .video_exp {
      width: 90%; }
  .contenedor_cultura .pag_cultura .cultura_largo .religion .img_religion {
    width: 18rem;
    height: 13rem; }
  .contenedor_actividades .pag_actividades h1 {
    font-size: 3rem; }
  .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari {
    padding: 2px; }
    .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #safari .encabezado_safari {
      padding: 0; }
  .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques {
    padding: 2px; }
    .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #parques .encabezado_parques {
      padding: 0; }
  .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera {
    padding: 2px; }
    .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #palmera .encabezado_palmera {
      padding: 0; }
  .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador {
    padding: 2px; }
    .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mirador .encabezado_mirador {
      padding: 0; }
  .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita {
    padding: 2px; }
    .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #mezquita .encabezado_mezquita {
      padding: 0; }
  .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio {
    padding: 2px; }
    .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #rio .encabezado_rio {
      padding: 0; }
  .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski {
    padding: 2px; }
    .contenedor_actividades .pag_actividades .seccion_act .row .card-deck #ski .encabezado_ski {
      padding: 0; }
  .contenedor_quienes_somos .pag_quienes_somos #quienes_somos p {
    width: 18rem; }
  .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes h2 {
    font-weight: 20; }
  .contenedor_quienes_somos .pag_quienes_somos #preguntas_frecuentes .categorias {
    grid-template-columns: 1fr; } }
