$colores: (
    blanco: white,
    fondoImgFirst:#ebb6ae,
    fondoN: #f1a59b,
    fondoFooter:#fff2e4,
    fondo:#f0eeeef3,
    letrasNav:#ff3e20,
    gris: rgb(165, 164, 164),
    estiloBoton: #f09082,
    estiloBotonHover:#f09182c4,
    bordeBotonHover:#f1867a  
);
$negro: rgb(0,0,0);
$alpha: .20;