//-----------Media Querie----------//
@media only screen and (max-width: 768px){
    footer{
        .suscripcion{
            margin-top: 2rem;
            padding: 0;
            .dato_suscripcion{
                flex-direction: column;
                margin-bottom: 1rem;
                .email_suscripcion{
                    width: 100%;
                }
                .btn-primary,
                &:active,
                &:visited,
                &:focus {
                    background-color: #f09082;
                    border-color:#f09082;
                    &:hover{
                        background-color: #f09182c4;
                        border-color:#f1867a;
                    }
                }
            }
            .texto_suscripcion{
                font-size: small;
            }
        }
        .enlaces{
            .link_footer{
                    width: 100%;
                    flex-direction: column;
                    margin-top: 1rem;
                    align-items: flex-start;
            }
            .enlaces_redes{
                margin-top: 1rem;
            }
        }
    }
	//-----Encabezado tablet-----//
    .header{
        grid-template-columns: 4fr 1fr;
        nav{
            .nav-toggle{
                display: block;
                    &:focus:not(:focus-visible){
                        outline: none;
                    }
            }
            .navbar{
                flex-direction: column;
                align-items: center;
                position: fixed;
                left: 0;
                padding: 20px 0;
                top: 60px;
                width: 100%;
                height: calc(100% -80px);
                overflow-y: auto;
                background-color: #ebb6ae;
                left: 100%;
                transition: left 0.3s;
            }
            .navbar_visible{
                left: 0;
                .navbar-item-link{
                    color:white;
                    line-height: 4rem;
                        &:hover{
                            color: #eeb9b0;
                        }
                }
            }
        }    
    }
    //-----Pagina Principal----//
    .contenedor_principal{
		grid-template-columns: 100%;
		grid-template-rows: auto;
        .main{
            .articulo_inicio{
                display: block;
                .h1_inicio{
                    width: 100%;
                    margin-top: 2em;
                    margin-bottom: 1rem;
                }
            }
            .texto_principal_largo{
                margin: 1rem;
            }
            .mapa_dubai{
                overflow:hidden;
                padding-bottom:56.25%;
                position:relative;
                height:0;
                iframe{
                    left:0;
                    top:0;
                    height:100%;
                    width:100%;
                    position:absolute;
                }
            }
            .imagenes_link{
                grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
                justify-items: center;
            }
        }
	}
    //----Pagina Historia-----//
    .contenedor_historia{
		grid-template-columns: 100%;
		grid-template-rows: auto;
        .pag_historia{
            .historia{
            margin: 0.5rem;  
            }
        }    
    }
    //-----Pagina cultura tablet-----//
    .contenedor_cultura{
		grid-template-columns: 100%;
		grid-template-rows: auto;
        .pag_cultura{
            .h1_cultura{
                margin-top: 4rem;
                height: 3rem;
                font-size: 2.5rem;
            }
            .cultura_largo{
                .gastro{
                    margin:0.5rem
                }
                .idioma{
                    grid-template-columns: 100%;
                    justify-items: start;
                    margin: 0.5rem;
                    .expresiones{
                        overflow:hidden;
                        padding-bottom:56.25%;
                        position:relative;
                        width: 100%;
                        height:0;
                        iframe{
                            left:0;
                            top:0;
                            height:100%;
                            width:100%;
                            position:absolute;
                        }
                    }
                }
                .religion{
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    margin:0.5rem;
                
                }
            }
        }
    }
    //-----Pagina Actividades-----//
    .contenedor_actividades{
        grid-template-columns: 100%;
		grid-template-rows: auto;
        .pag_actividades h1{
            margin-top: 1rem;
        }
        .seccion_act{
            grid-template-columns: 100%;
            .row{
                .card-deck{
                    width: 90%;
                    margin: 0.5rem;
                }

            }

        }

    }
    //-----Pagina quienes somos------//
    .contenedor_quienes_somos{
        grid-template-columns: 100%;
		grid-template-rows: auto;
        .pag_quienes_somos{
            #quienes_somos{
                margin-top: 3rem;
                grid-template-columns: auto;
                grid-template-rows: 1fr;
                overflow: hidden;
                gap: 1rem;
                p{
                    width: 80%;
                }
            }
            #preguntas_frecuentes{
                overflow: hidden;
                .categorias {
                    grid-template-columns: 1fr 1fr;
                    .categoria {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        img {
                            width: 30px;
                            margin-right: 10px;
                            margin-bottom: 0;
                        }
                        p{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    
}

//---------Media Querie---------//
@media only screen and (max-width: 360px){
	//-----Pagina principal-----//
    .contenedor_principal{
        .main{
            .imagenes_link{
            grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
            justify-items: center;
            }
        }    
    }
    //-----Pagina cultura-----//
    .contenedor_cultura{
        .pag_cultura{
            .h1_cultura{
                margin-top: 4rem;
                height: 3rem;
                font-size: 2rem;
            }
            .cultura_largo{
                .idioma{
                    .expresiones{
                        width: 100%;
                        .video_exp{
                            width: 90%;
                        }
                    }
                }
                .religion{
                    .img_religion{
                        width: 18rem;
                        height: 13rem;
                    }
                }
            }
        }    
    }
    //------Pagina actividades-----//
    .contenedor_actividades{
        .pag_actividades{ 
            h1{
            font-size: 3rem;
            }
            .seccion_act{
                .row{
                    .card-deck{
                        #safari{
                            padding: 2px;
                            .encabezado_safari{
                                padding: 0;
                            }
                        }
                        #parques{
                            padding: 2px;
                            .encabezado_parques{
                                padding: 0;
                            }
                        }
                        #palmera{
                            padding: 2px;
                            .encabezado_palmera{
                                padding: 0;
                            }
                        }
                        #mirador{
                            padding: 2px;
                            .encabezado_mirador{
                                padding: 0;
                            }
                        }
                        #mezquita{
                            padding: 2px;
                            .encabezado_mezquita{
                                padding: 0;
                            }
                        }
                        #rio{
                            padding: 2px;
                            .encabezado_rio{
                                padding: 0;
                            }
                        }
                        #ski{
                            padding: 2px;
                            .encabezado_ski{
                                padding: 0;
                            }
                        }
                    }
    
                }
            
            }
        }
    }
    //------Pagina quienes somos-----//
    .contenedor_quienes_somos{
        .pag_quienes_somos{
            #quienes_somos{
                p{
                    width: 18rem;
                }
            }
            
            #preguntas_frecuentes{
                h2{
                    font-weight: 20;
                }
                .categorias {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}