@import "colores";
@import "card";

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
*::selection{
    background: map-get($colores,fondoN);
    color: map-get($colores,blanco);
}
//-----------Header----------//
.header{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    background-color: map-get($colores,blanco);
    font-family: sans-serif;
    align-items: flex-end;
    top: 0%;
    left: 0%;
    grid-area: header;
    nav{
        .nav-toggle{
            color: map-get($colores,blanco);
            background: none;
            border: none;
            font-size: 30px;
            padding-left: 5rem;
            line-height: 60px;
            display: none;
            cursor: pointer;
        }
        .navbar{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style: none;
            position: relative;
            margin-bottom: 10px;
            .navbar-item-link{
                text-decoration: none; 
                color: map-get($colores,letrasNav);
                font-size: medium;
                text-transform: uppercase;
                padding: 8px 12px;
                border-radius: 3px;    
                    &:hover{
                        background-color: map-get($colores,fondoN);
                        color:map-get($colores,blanco )
                    }
                }
            }
    }
}
//-----------Estilo footer---------//
footer{
    height: 25rem;
    background-color: map-get($colores,fondoFooter);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

    .suscripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        .texto_suscripcion{
            text-align: center;
            color: map-get($colores,gris);
            font-weight: bold;
        }
        .dato_suscripcion{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .email_suscripcion{
                width: 50%;
            }
            .btn-primary,
                    &:visited,
                    &:focus {
                        background-color: map-get($colores,estiloBoton);
                        border-color:map-get($colores,estiloBoton);
                        &:hover{
                            background-color: map-get($colores,estiloBotonHover);
                            border-color:map-get($colores,bordeBotonHover);
                        }
                    }
        }
    }
    .enlaces{
        display: flex;

            .link_footer{
                list-style: none;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-top: 0%;
                padding-right: 10px;

                .item_link_footer{
                    text-decoration: none;
                    color: map-get($colores,gris);
                }
            }
            .enlaces_redes{
                width: 50%;
            }
    }
}
//-----------Pagina Principal---------//
.contenedor_principal{
    width: 100%;
    overflow: hidden;
    display:grid;
    grid-gap:20px;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "header"
    "main"
    "footer";
        .main{
            grid-area: main;
            .articulo_inicio{
                background-color: map-get($colores,fondoImgFirst);
                display: inline-flex;
                align-items: center;
                justify-content: stretch;
                .h1_inicio{
                    font-family: 'Lora', serif;
                    color: map-get($colores,fondoFooter);
                    text-align: center;
                    width: 25%;
                }
            }
            .texto_principal_largo{
                margin: 3rem;
                text-align: center;
                animation-duration: 2s;
                animation-name: aparecer;
            }
            @keyframes aparecer {
                0% {
                opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .mapa_dubai{
                display: grid;
                justify-content: center;
                width: 100%;
                margin-bottom: 1rem;
            }
            .titulo_act{
                background-color: map-get($colores,fondoImgFirst);
                color: map-get($colores,fondoFooter);
                text-align: center;
            }
            .imagenes_link{
                display: grid;
                grid-template-areas: "img1 img2 img3 img4 img5 img6";
                grid-gap:1rem;
                justify-items: center;
                margin: 40px 20px 40px 20px;
                .imagenes{
                    position: relative;
                    overflow: hidden;
                    border-radius: 0.5rem;
                    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
                    img{
                        width: 100%;
                        height: 100%;
                        transition: all 400ms ease-out;
                    }
                    .capa{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        background-color: map-get($colores,fondoImgFirst);
                        transition: all 400ms ease-out;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        visibility: hidden;
                        width: 100%;
                        opacity: 0;
                        a{
                            text-decoration: none;
                            color: map-get($colores,fondoFooter);
                            text-transform: uppercase;
                        }
                    }
                    &:hover > .capa{
                        opacity: 1;
                        visibility: visible;
                        text-align: center;
                    }  
                }
            }
        }
}
body{
    font-family: sans-serif;
}
//-----------Pagina Historia----------//

.contenedor_historia{ 
    display: grid;
    grid-gap:1rem;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "header"
    "pag_historia"
    "footer";
    .header{
        grid-area: header;
    }
    .pag_historia{    
        grid-area: pag_historia;
        font-family: sans-serif;
        color: #666666;
        overflow: hidden;
        background-color: map-get($colores,fondo);

        .historia_inicio{
            display: flex;
            background-image: url("../../Imagenes/historia.jpg");
            background-position: top center;
            background-repeat: no-repeat;
            width: 100%;
            height: 450px;
            align-content: flex-start;
            justify-content: center;
            align-items: center;
            color: map-get($colores,blanco);
            
            .h1_historia{
                font-size: 4rem;
            }
        }
        .intro{
            text-align: center;
        }
        .historia{
            margin: 20px 100px 20px 100px;  
            h2{
                font-style: normal;
                font-weight: 200;
                color: $negro;
            }
        }
    }
    .footer{
        grid-area: footer;
    }
}
//-----------Pagina Cultura---------//
.contenedor_cultura{
    display: grid;
    grid-gap:1rem;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "header"
    "pag_cultura"
    "footer";
    .header{
        grid-area: header;
    }
    .pag_cultura{
        font-family: sans-serif;
        grid-area: pag_cultura;
        .h1_cultura{
            background-image: linear-gradient(to bottom, #fb6f62, #fa7d70, #f88b7e, #f5988d, #f1a59b, #f1b0a4, #f1bbad, #f0c5b8, #f4d1c1, #f7dccc, #fbe7d7, #fff2e4);
            width: 100%;
            height: 6rem;
            display: flex;
            align-content: flex-start;
            justify-content: center;
            align-items: center;
            color: map-get($colores,blanco);
            border-radius: 10px;
            font-size: 4rem;
        }
        .cultura_largo{
            color: #666666;
            h2{
                font-style: normal;
                font-weight: 200;
                color: $negro;
            }
            .gastro{
                background-color:map-get($colores,fondo);
                overflow: hidden;
                box-shadow: 0 0 0.675rem 0.075rem rgba($negro,$alpha);
                margin: 1.25rem;
                padding: 10px;
            }
            .idioma{
                background-color:map-get($colores,fondo);
                overflow: hidden;
                box-shadow: 0 0 0.675rem 0.075rem rgba($negro,$alpha);
                margin: 1.25rem;
                padding: 10px;
                display: grid;
                grid-template-columns: 35% 65%;
                justify-items: end;
            }
            .religion{
                background-color: map-get($colores,fondo);
                overflow: hidden;
                box-shadow: 0 0 0.675rem 0.075rem rgba($negro,$alpha);
                margin: 1.25rem;
                padding: 10px;
                display: grid;
                grid-template-columns: 50% 50%;
            }
        }
    }
    .footer{
        grid-area: footer;
    }
}
//-----------Pagina Actividades----------//
.contenedor_actividades{
    display: grid;
    grid-gap:1rem;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "header"
    "pag_actividades"
    "footer";
    .header{
        grid-area: header;
    }
    .pag_actividades{
        grid-area: pag_actividades;
        text-align: center;
        color: #666666;
        width: 100%;
        h1{
            display: flex;
            background-image: url(../../Imagenes/actividades.jpg);
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 250px;
            align-content: flex-end;
            justify-content: center;
            align-items: center;
            color: map-get($colores,blanco);
            font-size: 4rem;
        }
        .seccion_act{
            background-color: map-get($colores,fondo);
            display: grid;
            overflow: hidden;
            grid-template-areas: "titulo_h2"
            "safari parques"
            "palmera mirador"
            "mezquita rio"
            "ski";
            h2{
                color: $negro;
                font-size: 200;
                margin:1rem;
            }
            .row{
                .card-deck{
                    background-color: map-get($colores,blanco);
                    box-shadow: 0 0 0.675rem 0.075rem rgba($negro,$alpha);
                    margin: 2rem;
                    #safari{
                        grid-area: safari;
                        padding: 20px;
                        overflow: hidden;
                        .encabezado_safari{
                            @include estilo_card;
                            .btn-primary,
                                &:visited,
                                &:focus {
                                    background-color: map-get($colores,estiloBoton);
                                    border-color:map-get($colores,estiloBoton);
                                    &:hover{
                                        background-color: map-get($colores,estiloBotonHover);
                                        border-color:map-get($colores,bordeBotonHover);
                                    }
                                }
                                
                        }
                        .info_safari{    
                            text-align: justify;
                        }
                    }
                    #parques{
                        grid-area: parques;
                        padding: 20px;
                        overflow: hidden;
                        .encabezado_parques{
                            @include estilo_card;
                            .btn-primary,
                                &:visited,
                                &:focus {
                                    background-color: map-get($colores,estiloBoton);
                                    border-color:map-get($colores,estiloBoton);
                                    &:hover{
                                        background-color: map-get($colores,estiloBotonHover);
                                        border-color:map-get($colores,bordeBotonHover);
                                    }
                                }
                        }
                        .info_parques{    
                            text-align: justify;
                        }
                    }
                    #palmera{
                        grid-area: palmera;
                        padding: 20px;
                        overflow: hidden;
                        .encabezado_palmera{
                            @include estilo_card;
                            .btn-primary,
                                &:visited,
                                &:focus {
                                    background-color: map-get($colores,estiloBoton);
                                    border-color:map-get($colores,estiloBoton);
                                    &:hover{
                                        background-color: map-get($colores,estiloBotonHover);
                                        border-color:map-get($colores,bordeBotonHover);
                                    }
                                }
                        }
                        .info_palmera{    
                            text-align: justify;
                        }
                    }
                    #mirador{
                        grid-area: mirador;
                        padding: 20px;
                        overflow: hidden;
                        .encabezado_mirador{
                            @include estilo_card;
                            .btn-primary,
                                &:visited,
                                &:focus {
                                    background-color: map-get($colores,estiloBoton);
                                    border-color:map-get($colores,estiloBoton);
                                    &:hover{
                                        background-color: map-get($colores,estiloBotonHover);
                                        border-color:map-get($colores,bordeBotonHover);
                                    }
                            }
                        }
                        .info_mirador{    
                            text-align: justify;
                        }
                    }
                    #mezquita{
                        grid-area: mezquita;
                        padding: 20px;
                        overflow: hidden;
                        .encabezado_mezquita{
                            @include estilo_card;
                            .btn-primary,
                                &:visited,
                                &:focus {
                                    background-color: map-get($colores,estiloBoton);
                                    border-color:map-get($colores,estiloBoton);
                                    &:hover{
                                        background-color: map-get($colores,estiloBotonHover);
                                        border-color:map-get($colores,bordeBotonHover);
                                    }
                            }
                        }
                        .info_mezquita{    
                            text-align: justify;
                        }
                    }
                    #rio{
                        grid-area: rio;
                        padding: 20px;
                        overflow: hidden;
                        .encabezado_rio{
                            @include estilo_card;
                            .btn-primary,
                                &:visited,
                                &:focus {
                                    background-color: map-get($colores,estiloBoton);
                                    border-color:map-get($colores,estiloBoton);
                                    &:hover{
                                        background-color: map-get($colores,estiloBotonHover);
                                        border-color:map-get($colores,bordeBotonHover);
                                    }
                            }
                        }
                        .info_rio{    
                            text-align: justify;
                        }
                    }
                    #ski{
                        grid-area: ski;
                        padding: 20px;
                        overflow: hidden;
                        .encabezado_ski{
                            @include estilo_card;
                            .btn-primary,
                                &:visited,
                                &:focus {
                                    background-color: map-get($colores,estiloBoton);
                                    border-color:map-get($colores,estiloBoton);
                                    &:hover{
                                        background-color: map-get($colores,estiloBotonHover);
                                        border-color:map-get($colores,bordeBotonHover);
                                    }
                            }
                        }
                        .info_ski{    
                            text-align: justify;
                        }
                    }
                }
            }
            
        }
    }
    .footer{
        grid-area: footer;
    }
}
//-----------Pagina Contacto-----------//
.contenedor_contacto{
    font-size: 1rem;
    display: grid;
    grid-gap:2rem;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "header"
    "pag_contacto"
    "footer";
    .header{
        grid-area: header;
    }
    .pag_contacto{
        grid-area: pag_contacto;
        background-color: map-get($colores,fondo);

        h1{
            color: $negro;
            text-align: center;
        }
        fieldset{
            div{
                .btn-primary,
                    &:visited,
                    &:focus {
                        background-color: #f09082;
                        border-color:#f09082;
                        &:hover{
                            background-color: #f09182c4;
                            border-color:#f1867a;
                        }
                    }    
            
            }    
        }
    }    
    .footer{
        grid-area: footer;
    }

}

//-----------Pagina Quienes Somos----------//
.contenedor_quienes_somos{
    display: grid;
    grid-gap:1rem;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "header"
    "pag_quienes_somos"
    "footer";
    .header{
        grid-area: header;
    }
    .pag_quienes_somos{
        grid-area: pag_quienes_somos;
        background-color: map-get($colores,fondo);
        margin-block-end: 10px;
        padding: 10px 20px 10px 20px;
        text-align: justify;
        #quienes_somos{
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr;
            text-align: justify;
            column-gap: 5px;
            h1{
                font-weight: 100;
            }
        }
        #preguntas_frecuentes{
            h2{
                font-weight: 20;
            }
            .categorias{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                margin-bottom: 60px;
                .categoria{
                    cursor: pointer;
                    text-align: center;
                    padding: 20px;
                    border-radius: 10px;
                    background: map-get($colores , blanco );
                    font-weight: 700;;
                    border: 2px solid transparent;
                    transition: .3s ease all;
                    &:hover {
                        color: #000;
                    }
                    img {
                        width: 44px;
                        margin-bottom: 10px;
                    }
                }
                .activa{
                    border-color: map-get($colores,bordeBotonHover);
                }
            }
            .preguntas{
                .contenedor_preguntas{
                    display: none;
                    grid-template-columns: 1fr;
                    gap: 40px;
                    .contenedor_pregunta {
                        background: #fff;
                        padding: 20px;
                        border: 2px solid transparent;
                        border-radius: 10px;
                        overflow: hidden;
                        transition: .3s ease all;
                        cursor: pointer;
                        &:hover {
                            border: 5rem;
                        }
                        .pregunta{
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 20px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .respuesta {
                            color: #808080;
                            line-height: 30px;
                            max-height: 0;
                            opacity: 0;
                            transition: .3s ease all;
                        }
                    }
                }
                .activo{
                    display: grid;
                    .activa{
                        .respuesta{
                            opacity: 1;
                            margin-top: 20px;
                        }
                    }
                }
                
            }  
        }
    }
    .footer{
        grid-area:footer;
    }
}

//----------Importo Media Queries Tablet y Mobile----------//

@import "mediaQuerie";